.locationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.location.button {
  padding: 5px;
  background: #19e0ff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  margin: 0px 0px 15px 0px;
  width: 50%;
}

.container {
  background-color: #d3f8fd;
  margin: 15px;
  border-radius: 7px;
}