/* parent */
.map {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}


/* child 1 */
.locations {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 10px;
  align-items: center;
}

.locations.form {
  flex: 8;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.locations.add {
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.locations.add button {
  width: 75px;
  height: 30px;
  border-radius: 7px;
  background: var(--button);
  border: none;
  color: white;
  font-size: 20px;
}

.locations.add button:hover {
  background: var(--button-hover);
}

.locations.showPoint,
.locations.getPoint {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locations.button:hover {
  background: var(--button-hover);
}

.locations.button {
  padding: 10px;
  background: var(--button);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  font-size: 22px;
}

.locations.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.locations.preference {
  display: inline-flexbox;
}

.preference.options {
  font-size: 25px;
  display: flex;
  gap: 15px;
  margin: 15px 0px;
}

.preference.options input[type="radio"] {
  background: white;
  appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.preference.options input[type="radio"]:hover,
.preference.options input[type="radio"]:checked {
  background-color: var(--active);
  border-color: var(--active);
}

/* child 2 */
.googleMap {
  width: 50vw;
}

.customSlider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.customSlider-track {
  top: 8px;
  height: 4px;
  background: #ddd;
}

.customSlider-track.customSlider-track-0 {
  background: var(--active);
}

.customSlider-thumb {
  cursor: pointer;
  background: var(--active);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.customSlider-thumb:hover,
.customSlider-thumb:active {
  box-shadow: 0 0 0 5px var(--active);
}

.table.output {
  font-size: 22px;
  margin: 15px;
  border-radius: 7px;
  background-color: whitesmoke;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 30px 30px 20px 30px;
  width: 70%;
}

.table.output td,
.table.output th {
  border-radius: 7px solid #ddd;
  padding: 8px;
  width: 33%;
}

.table.output tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.table.output tr:hover {
  background-color: #ddd;
}

.table.output th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #106a6d;
  color: white;
}