/* parent */
.map {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}


/* child 1 */
.locations {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 10px;
  align-items: center;
}

.locations.form {
  flex: 8;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.locations.showPoint,
.locations.getPoint {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locations.button:hover {
  background: #33686e;
}

.locations.button {
  padding: 10px;
  background: #182425;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  font-size: 22px;
}

.locations.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* child 2 */
.googleMap {
  width: 50vw;
}

:root {
  --main-color: #182425;
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}

.customSlider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.customSlider-track {
  top: 8px;
  height: 4px;
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  background: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}