.mainLabel {
  text-align: left;
  margin-right: 50%;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  user-select: none;
  appearance: none;
  background: white;
  border: 1px solid black;
}

.work input[type="checkbox"]:checked {
  background: black;
}

.work input[type="checkbox"]:not(:checked)~.inputWrapper {
  display: none;
}

.work input[type="checkbox"]:checked~.inputWrapper {
  display: flex;
}

.inputWrapper {
  width: 90%;
  margin: 0px;
  padding: 10px;
  justify-content: center;
  border-left: 3px solid black;
}

.inputWrapper input[type="text"] {
  flex: 10;
  background-color: white;
  height: 25px;
}

.bars {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.bars input[type="radio"] {
  border-radius: 0;
  height: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 20px;
  margin: 0 5px;
  appearance: none;
}

.bars input[type="radio"]:checked {
  background: black;
}

.bars input[value="4"] {
  height: 50px;
}

.bars input[value="3"] {
  height: 40px;
}

.bars input[value="2"] {
  height: 35px;
}

.bars input[value="1"] {
  height: 30spx;
}