.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 13, 0);
  background-color: whitesmoke;
}

h1 {
  margin-bottom: 0px;
}

p {
  font-size: 16pt;
}

/* #53E9FF -> main color */